.notice_details_list_b {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: solid 1px #c7c7c7;
}

.notice_details_list_b img {
    transform: rotate(90deg);
    margin: 10px;
}

.moveText {
    white-space: nowrap;
}

.notice_icon {
    margin: 10px;
    border-radius: 5px;
    color: #EFEBEB;
    background-color: #F99C9C;
    font-size: 0.9rem;
    width: 41px;
    height: 22px;
    text-align: center;
}

.detail_words {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    width: 200px;
}

.notice_details_list_n {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: solid 1.5px;
}


.notice_details_list_n img {
    transform: rotate(270deg);
    margin: 10px 10px;
}

.notice_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}