.modalContainer {
  z-index: 110;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.emptyReceiptWrap {
  position: relative;
}

.emptyReceiptBg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadText {
  text-align: center;
  white-space: nowrap;
  color: var(--bibot-primary);
  font-size: 12px;
  font-weight: bold;
}

.categorySel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.categorySel select {
  width: 70%;
  height: 50px;
  font-size: 1.2rem;
}

.modifyBtn {
  display: flex;
  justify-content: center;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerBtn {
  display: flex;
  justify-content: center;
  width: 30%;
}
