.emptyReceiptWrap {
  position: relative;
}

.emptyReceiptBg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadText {
  text-align: center;
  white-space: nowrap;
  color: var(--bibot-primary);
  font-size: 12px;
  font-weight: bold;
}

.categorySel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.categorySel select{
  width: 70%;
  height: 50px;
  font-size: 1.2rem;
}

.modifyBtn {
  display: flex;
  justify-content: center;
}

.registerBtn {
  display: flex;
  justify-content: center;
  width: 100%;
}
