.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
}

.card_empty {
  text-align: center;
  color: var(--bibot-secondary);
  font-size: 16px;
}

.cardItem {
  position: relative;
}

.card_delete_icon {
  position: absolute;
  top: 0;
  right: 0;
}

.card_name {
  text-align: center;
  color: var(--bibot-primary);
  font-size: 16px;
}

.bibot_error_alarm{
  text-align: center;
  color: #828282;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
