.card_info_wrap {
  padding: 40px;
}

.card_maxnumber p {
  font-size: 0.85rem;
  color: #6A6F7D;
}

.card_number_step {
  display: flex;
  margin: 20px 0 20px 0;
  border-bottom: solid 1px #c7c7c7;
}

.card_number_step span{
  margin: 5px;
}

.card_number_step input {
  width: 25%;
  border: none;
}

.card_date {
  margin-top: 20px;
  border-bottom: solid 1px #c7c7c7;
}

.card_date p {
  font-size: 0.85rem;
  color: #6A6F7D;
  margin: 50px 0 20px 0;
}

.card_date input {
  width: 25%;
  border: none;
}

.value_number {

  margin-top: 20px;
  border-bottom: solid 1px #c7c7c7;
}

.value_number p {

  font-size: 0.85rem;
  color: #6A6F7D;
  margin: 50px 0 20px 0;
}


.value_number input {

  width: 25%;
  border: none;
}

.select_btn_wrap{
  
  display: flex;
  justify-content: center;
  
}

.select_btn {
  
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 30px 130px;
  height: 40px;
  color: #FFFFFF;
  background-color: #0DCABF;
  border: none;
  margin-top: 130px;
}