.mainContainer {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #fdd1d1, #e73c7e50, #0dcabf, #0dcabf);
  background-size: 300% 300%;
  animation: AnimationName 6s ease infinite;
}

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
