.notice_wrap {
  padding: 0px 40px 0px 40px;
}

.notice_header {
  display: flex;
  justify-content: space-between;
}

.notice_h1 {
  font-size: 1.3rem;
}

.notice_nav_wrap {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.notice_nav_wrap li a {
  color: #6A6F7D;
}

.notice_sum {
  margin-top: 30px;
}

.notice_sum {
  font-size: 0.8rem;
}

.notice_search_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.notice_search {
  width: 200px;
  border-radius: 10px;
}

.notice_search option{
  text-align: center;
}

.notice_texting{
  position: relative;
  width: 300px;
}

.notice_texting input {
  border-radius: 10px;
  width: 320px;
  height: 60px;
  padding: 10px;
}

.notice_texting input:focus{
  outline: 1px solid #8262F8;;
  border-radius: 10px;
  background-color: #F4F4F4;
}


.notice_texting img{
  position : absolute;
  top: 20px;
  right: 1px;
  margin: 0;
}

.notice_board_wrap {
  margin-top: 20px;
  padding: 15px 0px 10px 0px;
  border-top: solid;
  border-bottom: solid 1px #c7c7c7;
}

.notice_first {
  border-radius: 5px;
  color: #EFEBEB;
  background-color: #F99C9C;
  font-size: 0.9rem;
  width: 41px;
  height: 21px;
  text-align: center;
}

.notice_board {
  margin: 10px 0px 0px 0px;
}

.notice_board_second{
  font-size: 0.85rem;
  margin-top: 5px;
}

.notice_board :last-child {
  margin-top: 5px;
  font-size: 0.85rem;
  color: #9B9B9B;
}

.notice_board_list {
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: solid 1px #c7c7c7;
}

.notice_second {
  border-radius: 5px;
  background-color: #86E4DF;
  color: #EFEBEB;
  font-size: 0.9rem;
  width: 85px;
  height: 22px;
  text-align: center;
}

.notice_btn {
  width: 310px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color:#9B9B9B;
  
}

.notice_btn p{
  color: #A08282;
}