.title {
    font-weight: bold;
    color: var(--bibot-primary);
    padding: 0 3rem;
}
.profileImage {
    display: flex;
    justify-content: center;
}

.changePwdWrap {
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}