.emptyReceiptWrap {
    position: relative;
}

.emptyReceiptBg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadText {
    text-align: center;
    color: var(--bibot-primary);
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.ReceiptOCRHeader {
    text-align: center;
    color: var(--bibot-primary);
}

.ReceiptOCRDetails {
    border-top: 1px dashed var(--bibot-black);
    stroke-dasharray: 1px;
}

.categorySel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modifyBtn {
    display: flex;
    justify-content: center;
}

.registerBtn {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 30px;
}