.settingsItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 80%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
}

.settingsWrap h3 {
    font-size: 1.2rem;
    margin: 1rem 3.3rem;
    color: #9a9d96;
}

