.settingsItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 80%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
}

.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 20px;
}

.toggleButton {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s;
}

input[type='checkbox']:checked+.toggleSwitch .toggleButton {
    transform: translateX(20px);
    background-color: #00ff44;
}