.cardContainer {
  width: 327px;
  height: 200px;
  background: linear-gradient(-225deg, #17d2e8, #1d5c63, #48294d);
  background-size: 150% 150%;
  animation: AnimationName 6s ease infinite;
  border-radius: 8%;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
