.title {
    font-weight: bold;
    color: var(--bibot-primary);
    padding: 0 3rem;
}

.profileImage {
    display: flex;
    justify-content: center;
}

.ImageBtnWrap {
    display: flex;
    justify-content: center;
}

.ImageBtnWrap button {
    background-color: var(--bibot-primary);    
}
