.settingItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid var(--bibot-gray);
}

.settingInfo {
    display: flex;
    align-items: center;
}

.settingItemImage {
    background-color: var(--bibot-gray);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingItemTitle {
    margin-left: 1rem;
}