.Back_btn_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 70px;
}

.left {
  width: 10%;
}

.center {
  width: 80%;
  text-align: center;
}

.right {
  width: 10%;
}

.Back_btn_words{
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: var(--bibot-primary);
}