.card_used_wrap {

  margin-top: 60px;
  padding: 20px;
  font-size: 1.3rem;
  text-align: center;
  color: #0DCABF;
}

.card_name {

  text-align: center;
  margin-top: -20px;
  color: #0DCABF;
  font-size: 1rem;
}

.card_used_sum {

  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.card_used_sum p:first-child{

  color: #989898;
  font-size: 1.2rem;
}

.card_used_sum p:last-child{

  color: #40CCC3;
  font-size: 1.2rem;
  font-weight: bold;
}