.card_used_wrap {

  margin-top: 60px;
  padding: 20px;
  font-size: 1.3rem;
  text-align: center;
  color: #0DCABF;
}

.card_name {

  text-align: center;
  margin-top: -20px;
  color: #0DCABF;
  font-size: 1rem;
}

.card_used_sum {

  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.card_used_sum p:first-child{

  color: #989898;
  font-size: 1.2rem;
}

.card_used_sum p:last-child{

  color: #40CCC3;
  font-size: 1.2rem;
  font-weight: bold;
}

.card_used_list{
  
  display: flex;
  justify-content: space-between;
  margin-top: -40px;
  padding: 35px;
  text-align:left;
  /*border-top: solid 1px #c7c7c7;*/
}

.cafe_list p:first-child{

  color: #1E1E1E;
  font-size: 1.2rem;
}

.cafe_list p:last-child{

  color: #9B9B9B;
  font-size: 1rem;
}

.sum_price p{

  margin: 10px 0px;
  font-size: 1.2rem;
}