.card_list_wrap{

  margin-top: 60px;
  padding: 20px;
  font-size: 1.3rem;
  text-align: center;
  color: #0DCABF;
}

.card_words{

  margin-top: -20px;
  text-align: center;
}

.bibot_error_alarm{

  margin-top: 130px;
  text-align: center;
  color: #828282;
}