.login_wrap {
  padding: 50px;
  margin-top: 80px;
}

.login_header {
  margin-bottom: 20px;
  color: #0DCABF;
}

.login_box {
  margin-top: 60px;

}


.login_box input {
  width: 100%;
  height: auto;
  padding: 40px 0px 20px 0px;
  margin: 0px;
  font-size: 16px;
  border: none;
  border-bottom: solid 1px #c7c7c7;

}

.select_btn_wrap {
  display: flex;
  justify-content: center;

}

.select_btn {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 30px 120px;
  height: 40px;
  color: #FFFFFF;
  background-color: #0DCABF;
  border: none;
  margin-top: 30px;
}

.find_password_btn_wrap {
  display: flex;
  justify-content: center;
  padding: 30px 0px 90px 0px;
}

.find_password_btn {
  border: none;
  background-color: #FFFFFF;
  color: #8262F8;
  font-size: 1rem;
}

.sign_up_wrap{
  display: flex;
  justify-content: center;
}

.Sign_btn{
  border: none;
  background-color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: bold;
  color: #2945FF;
}