.payment_details_wrap {
  padding: 20px;
}

.payment_details_list {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-radius: 5px;
  color: #EFEBEB;
  background-color: #F9F4FB;
  font-size: 0.9rem;
  width: 350px;
  height: 100px;
  align-items: center;
}

.payment_details_list {
  display: flex;
  text-align: center;
}

.payment_did p:first-child {
  font-size: 0.8rem;
  color: #989898;
}

.payment_did p:last-child {
  font-size: 1.8rem;
  font-weight: bold;
  color: #C95DEF;
}

.payment_will p:first-child {
  font-size: 0.8rem;
  color: #989898;
}

.payment_will p:last-child {
  font-size: 1.8rem;
  font-weight: bold;
  color: #0DCABF;
}

.payment_menu {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  font-size: 0.85rem;
}

.payment_menu_icon img {
  margin-right: 10px;
}

.payment_menu_icon {
  display: flex;
  flex-direction: row;

}

.payment_used_list_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 20px;
  border-bottom: solid 1px #c7c7c7;
}

.payment_used_list {
  margin-right: 90px;
}

.payment_used_list p:first-child {
  font-size: 1.1rem;
  color: #1E1E1E;
  margin-bottom: 3px;
}

.payment_used_list p:last-child {
  font-size: 1rem;
  color: #9B9B9B;
}

.payment_status_d {
  border-radius: 5px;
  color: #EFEBEB;
  background-color: #F99C9C;
  font-size: 0.9rem;
  width: 41px;
  height: 21px;
  text-align: center;
}

.payment_status_w {
  border-radius: 5px;
  color: #EFEBEB;
  background-color: #FFE37F;
  font-size: 0.9rem;
  width: 41px;
  height: 21px;
  text-align: center;

}

.payment_status_y{
  border-radius: 5px;
  color: #EFEBEB;
  background-color: #0DCABF;
  font-size: 0.9rem;
  width: 41px;
  height: 21px;
  text-align: center;
}

.payment_btn {
  width: 350px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #9B9B9B;
}

.payment_btn p {
  color: #A08282;
}