:root {
  --bibot-primary: #40ccc3;
  --bibot-secondary: #c95def;
  --bibot-white: #ffffff;
  --bibot-black: #1e1e1e;
  --bibot-gray: #2b2b2b20;
  --bibot-red: #fdd1d1;

  --bibot-bg-linear: linear-gradient(180deg, #0dcabf 0%, #fdd1d1 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  padding: 0 2rem;
}

ul {
  margin: 0;
  padding: 0;
}

/* next ui custom */
.nextui-progress-bar {
  background: linear-gradient(to left, #c95def 0%, #0dcabf 100%);
}

.nextui-c-yrlUe-kJGdUE-activeColor-default {
  --nextui--navbarItemHighlightTextColor: var(--bibot-white);
}

.nextui-c-iwmZdB {
  --nextui--inputHoverBorderColor: var(--bibot-primary);
  --nextui--inputLabelColor: var(--bibot-primary);
}

.nextui-c-csEDlc {
  z-index: 100
}

/* react-slick */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
