:root {
  --bibot-primary: #40CCC3;
  --bibot-secondary: #C95DEF;
  --bibot-white: #FFFFFF;
  --bibot-black: #1E1E1E;
  --bibot-gray: #2B2B2B20;
  --bibot-red: #FDD1D1;

  --bibot-bg-linear: linear-gradient(135deg, #0DCABF 0%, #FDD1D1 80%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
