.announceWrap {
    opacity: 0.8;
    background-color: #fff;
    border-radius: 8px;
    width: 80%;
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 25rem;
    min-width: 20rem;
    height: 5rem;
    padding: 0.8rem;
}

.announceImage {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
    background-color: #BA73E720;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.announceImage img {
    object-fit: cover;
}

.content {
    min-width: 60%;
}

.content p {
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.2rem;
}

.content .txt {
    font-size: 0.7rem;
    font-weight: normal;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0.4rem;
}

.notiTime {
    width: 20%;
    height: 100%;
    white-space: nowrap;
    text-align: center;
    display: flex;
    align-items: flex-end;
}

.notiTime p {
    color: #3F3F4480;
    font-size: 10px;
}