.CategoryWrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative;
    top: 3rem; */
    padding: 10rem 1rem 2rem 1rem;
}

.LeftBtn,
.RightBtn {
    width: 0.8rem;
    display: flex;
    justify-content: space-around;
}

.LeftBtn img, .RightBtn img {
    width: 100%;
    height: auto;
}

.CategoryNav {
    width: 90%;
    height: 4rem;
    margin: 0 auto;
    border-radius: 14px;
    background-color: #2B2B2B30;
    display: flex;
    align-items: center;
}

.CategoryNav nav {
    width: 90%;
    margin: 0 auto;
}

.CategoryNav nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
}

.CategoryNav nav ul::-webkit-scrollbar {
    display: none;
}

.CategoryNav nav ul li {
    list-style: none;
    padding: 0.5rem 1.5rem;
    margin: 0 0.5rem;
    background-color: rgba(255,255,255,0);
    border-radius: 10px;
    color: var(--bibot-white);
    transition: 0.5s;
    word-break: keep-all;
}

.CategoryNav nav ul li.active {
    background-color: rgba(255,255,255,1);
    color: #777777;
    transition: 0.5s;
}

.CategoryNav nav ul li:first-child {
    margin-left: 0;
}

.CategoryNav nav ul li:last-child {
    margin-right: 0;
}


.Amount {
    position: relative;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Amount span {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 2px 6px #00000025;
}

.Amount progress {
    appearance: none;
    margin-top: 10px;
    width: 50%;
}

.Amount progress::-webkit-progress-bar {
    background: #fff;
    border-radius: 20px;
    height: 6px;
}

.Amount progress::-webkit-progress-value {
    background: repeating-linear-gradient(to left, #C95DEF 0%, #0DCABF 100%);
    border-radius: 20px;
}
.Amount p.reset {
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: -1.0rem;
}

.progress {
    width: 50%;
    position: relative;
    margin: 0 auto;
}


.pullgr {
    width: 4rem;
    height: 1.5rem;
    display: flex;
    position: absolute;
    top: -100px;
    justify-content: center;
    align-items: center;
    background-color: var(--bibot-secondary);
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    transition: 0.5s;
}

.pullgr::after {
    content: "";
    position: absolute;
    bottom: -5px;
    border-radius: 2px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--bibot-secondary);
    transition: 0.5s;
}

.pullgrReminder {
    background-color: #fff;
    color: var(--bibot-secondary);
    transition: 0.5s;
}

.pullgrReminder::after {
    border-top: 10px solid #fff;
    transition: 0.5s;
}

.liner {
    position: absolute;
    top: -115px;
    width: 1px;
    height: 150px;
    background-color: #fff;
    opacity: 0.5;
    transition: 0.5s;
}

.circle {
    position: absolute;
    top: -8px;
    z-index: 10;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--bibot-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    transition: 0.5s;
}

.circleReminder {
    background-color: #fff;
    transition: 0.5s;
}

.circle img {
    filter: invert(1) brightness(100) saturate(0);
    transition: 0.5s;
}


.circleReminder img {
    filter: none;
    transform: rotate(540deg);
    transition: 0.5s;
}
